/.gitignore~
/.git
/.idea
/.cproject
/.project
/.eggs
/algorithm_reference_library.egg-info

*.pyc

/data
/docs
/test_data
/test_results
/arlvenv
/alorithm_reference_library.egg-info
/build
/dist
/docs/build
/docs/pyweave
/docs/notebooks
/docs/anna
/docs/ben
/docs/arl
.ipynb_checkpoints

/examples/**/*.rst
/examples/**/*.html
/examples/**/*.fits
/examples/*/figures
/examples/*/*_files
/examples/*/.ipynb_checkpoints
/examples/pyweave/figures
/examples/pyweave/docset.zip
/examples/anna/simulated_data.txt
/examples/arl/*.png
out.fits
dirty.fits
psf.fits

/.ipynb_checkpoints
.DS_Store
~$functions_status.xlsx
arl_fourier_processing.xlsx
functions_status.xlsx
/.cache
/docs/crocodile requirements.xlsx
reproject_footprint.fits
reproject_image.fits
temp.fits
/tests/test_ftprocessor_results
/.pydevproject
/tests/test_results
/test_results
/test_coverage
/tests/test_data
/tests/unittest_results
