/.git*
/.idea
/.coverage
/.cproject
/.project
/.eggs
/algorithm_reference_library.egg-info
/PrivateRules.mak
/Makefile.save

/*.pyc

/data
/docs
/test_data
/test_results
/arlvenv
/alorithm_reference_library.egg-info
/build
/dist
/.ipynb_checkpoints

/examples/**/*.rst
/examples/**/*.html
/examples/**/*.fits
/examples/*/figures
/examples/*/*_files
/examples/*/.ipynb_checkpoints
/examples/pyweave/figures
/examples/pyweave/docset.zip
/examples/anna/simulated_data.txt
/examples/arl/*.png
/*.fits

/.ipynb_checkpoints
/.DS_Store
/*.xls
/.cache
/tests/test_ftprocessor_results
/.pydevproject
/tests/test_results
/test_results
/test_coverage
/tests/test_data
/tests/unittest_results

/algorithm-reference-library
/algorithm_reference_library.egg-info
/build
/.coverage
/dask-worker-space
/data
/dist
/Dockerfile*
/.dockerignore
/docs
/environment.yml
/global.lock
/libarlffi.cpython-37m-x86_64-linux-gnu.so
/*.yaml
/PrivateRules.mak
/purge.lock
/.pytest_cache
/README.html
/requirements.txt
/*.sh
/test_data
/test_results
/*.log
/tmp
/tools
/worker*
/k8s_client_api.py
/venv
