/*.pyc
/.gitignore~
/doc/aa.rst
/doc/aa.html
/doc/figures/*
/doc/wimaging.html
/doc/wimaging.rst
/doc/wimaging.rstw~
/doc/docset.zip
/doc/wkernel.html
/doc/wkernel.rst
/doc/wkernel.rstw~
/.idea
/.cproject
/.project
