
/.idea
/examples/experiments

/docs/build
.ipynb_checkpoints

.cache
/workspace
/algorithm_reference_library.egg-info/

dask-worker-space
/docs/processing_components
/docs/workflows
*/notebooks/*_files
*/notebooks/*.rst
*.log
*.lock
*.hdf5
*.pyc
/build
/test_results
*.so
*.egg
/arl/data_models/.idea
*.fits
/sourcetree.txt
/docs/api
