
/.gitignore~
/.idea
/.cproject
/.project

*.pyc
/build

/examples/**/*.rst
/examples/**/*.html
/examples/*/figures
/examples/*/*_files
/examples/*/.ipynb_checkpoints
/examples/pyweave/figures
/examples/pyweave/docset.zip
/examples/anna/simulated_data.txt

/docs/build
/docs/pyweave
/docs/notebooks
/docs/anna
/docs/ben
.ipynb_checkpoints
out.fits
dirty.fits
/doc
/.ipynb_checkpoints
