[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aotools = "*"
six = "*"
docutils = "*"
imagesize = "*"
pytz = "*"
jupyter = "*"
notebook = "*"
ipywidgets = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
wcsaxes = "*"
reproject = "*"
astropy = "*"
alabaster = "*"
photutils = "*"
scikit-image = "*"
dask = "*"
distributed = ">=1.28.1"
paramiko = "*"
toolz = "*"
graphviz = "*"
pandoc = "*"
psutil = "*"
cloudpickle = "*"
seqfile = "*"
"h5py" = ">=2.9.0"
jsonschema = "*"
bokeh = "*"
"Jinja2" = "*"
Babel = "*"
MarkupSafe = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
"d2to1" = "*"
nose = "*"

[requires]
# Currently pipenv does not support >=semver syntax for python
# https://github.com/pypa/pipenv/issues/1050
# python_version = "3.6"
