six
docutils
jinja2
babel
imagesize
markupsafe
pytz
jupyter
notebook
ipywidgets
numpy
scipy
matplotlib
Sphinx
reproject
astropy
alabaster
photutils
dask
distributed
toolz
graphviz
pandoc
sphinx_rtd_theme
psutil
cloudpickle
seqfile
h5py
jsonschema
bokeh
aotools<0.5.1



