six
docutils
jinja2
babel
imagesize
markupsafe
pytz
jupyter>=1.0
notebook
ipywidgets
numpy>=1.9
scipy
pyfits>=3.3
matplotlib
Sphinx
wcsaxes
reproject
astropy>=2.0
alabaster
photutils
scikit-image
dask
distributed
paramiko
toolz
graphviz
pandoc
sphinx_rtd_theme
psutil
cloudpickle
seqfile
