pymp-pypi
six
docutils
jinja2
babel
imagesize
markupsafe
pytz
jupyter>=1.0
notebook
ipywidgets
numpy>=1.9
scipy
pyfits>=3.3
matplotlib
pylru
Sphinx
wcsaxes
reproject
astropy
alabaster
photutils
scikit-image
