
data.tar.gz
data_extracted

vis/at166B.3C129/AT166B-image.png
vis/at166B.3C129/AT166B-psf.png
vis/at166B.3C129/at166B.3C129.c0.vis

vis/vla_1src_6h/test_vla.ms/
vis/vla_1src_6h/test_vla.txt
vis/vla_1src_6h/test_vla.vis
vis/vla_1src_6h/test_vla_dirty_01024_w000.fits
vis/vla_1src_6h/test_vla_dirty_01024_w256.fits
vis/vla_1src_6h/test_vla_dirty_s1024_f03.0_w000.fits

vis/vla_grid_6h/test_vla.ms/
vis/vla_grid_6h/test_vla.txt
vis/vla_grid_6h/test_vla.vis
vis/vla_grid_6h/test_vla_dirty_01024_w000.fits
vis/vla_grid_6h/test_vla_dirty_01024_w256.fits
vis/vla_grid_6h/test_vla_dirty_s1024_f03.0_w000.fits

/models/M31.MOD
/models/M31.model.fits
/models/VLA_A_hor_xyz.txt

/configurations/LOWBD2-CORE.csv
