# BEGIN ANSIBLE MANAGED BLOCK for worker2 docker node
Host worker2
    Hostname 10.101.1.25
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode              yes
    StrictHostKeyChecking no
    User ubuntu
    #ProxyCommand ssh -W %h:%p ubuntu@10.101.1.23
    ProxyCommand ssh -W %h:%p ubuntu@10.128.26.15
# END ANSIBLE MANAGED BLOCK for worker2 docker node
# BEGIN ANSIBLE MANAGED BLOCK for worker1 docker node
Host worker1
    Hostname 10.101.1.24
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode              yes
    StrictHostKeyChecking no
    User ubuntu
    #ProxyCommand ssh -W %h:%p ubuntu@10.101.1.23
    ProxyCommand ssh -W %h:%p ubuntu@10.128.26.15
# END ANSIBLE MANAGED BLOCK for worker1 docker node
# BEGIN ANSIBLE MANAGED BLOCK for master1 docker node
Host master1
    Hostname 10.101.1.23
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode                yes
    PasswordAuthentication   no
    GSSAPIAuthentication     no
    PreferredAuthentications publickey
    StrictHostKeyChecking    no
    User ubuntu
    ProxyCommand ssh -W %h:%p ubuntu@10.128.26.15

Host 10.101.1.*
    User ubuntu
    IdentityFile ~/.ssh/piers-ska.pem
    BatchMode             yes
    StrictHostKeyChecking no
    ProxyCommand ssh -W %h:%p ubuntu@10.128.26.15
# END ANSIBLE MANAGED BLOCK for master1 docker node
